.product{
    display: flex;
    border-bottom: 1px solid lightgray;
}

.information{
    margin-left: 20px;
}

.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
}